<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h3>Pokémon Shiny Tracker</h3>
        <p>This application was created by <strong><a href="http://timgourley.com">Tim Gourley</a></strong>.</p>
        <p>Pokémon and all Pokémon data is owned by The Pokémon Company used without permission.</p>
        <h3>FAQ</h3>
        <ul>
          <li><strong>How do I use this?</strong><br />From the "Setup" tab, you can specify the Generation of game you are playing. Generation 1 had no shinies so that is not
          an option. If you choose Generation 5 or newer, you can specify if you have the shiny charm for completing the national pokédex. Then you can choose the hunting
          method you are undertaking and head over to the "Track" tab. Optionally, you can type in a Pokémon name for visual motivation of the shiny you are hunting on the
          tracker page.</li>
          <li><strong>What is <em>B(n,p)</em> mean?</strong><br />It's the Binomial Distribution. It basically means that for each encounter you have already completed, you
          will have had that particular percentage of a chance to have already received at least one shiny. It's meant to help provide motivation.</li>
          <li><strong>And the other number?</strong><br />It's the Binomial Distribution, but solved for the number of encounters. This gives you the number of encounters
          until the distribution percentage is at 90%. Basically, in most cases you really should have received a shiny by the time it gets to 90% (well, except 10% of the
          time, heh), regardless of hunting method. If you haven't, you might consider taking a break.</li>
        </ul>
        <p>The odds for each hunting method were taken from various wikis as well as actual experience. There are a few places where we still don't have solid data about
        the methods, such as chain fishing. It appears to be similar to radar chaining, but it has not been confirmed. Also, Dex Nav is assumed to be a static increase similar
        to the increase in odds you get in the Friend Safari. As more data is available the odds will be adjusted.</p>
        <p>The S.O.S. Battles introduced in Pokemon Sun/Moon appear to use similar odds increases to Dex Nav, so a static 1/512 chance. This will be updated when actual data is released.</p>
        <p>All the calculations for the Binomial Distribution are approximate values and provide no guarantee that you will actually receive a shiny. It's all about
        probabilities. The numbers will also be off by a few here and there based on rounding errors. But more or less it's helpful information.</p>
        <p>This site uses a cookie to store your encounter number and hunt settings. That's it. This site doesn't track you nor is any of your information sent back to
        the server.</p>

        <h3>Code License:<br />The MIT License (MIT)</h3>
        <p>Copyright &copy; Tim Gourley.

        <p>Permission is hereby granted, free of charge, to any person obtaining a copy
           of this software and associated documentation files (the "Software"), to deal
           in the Software without restriction, including without limitation the rights
           to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
           copies of the Software, and to permit persons to whom the Software is
           furnished to do so, subject to the following conditions:</p>

        <p>The above copyright notice and this permission notice shall be included in
           all copies or substantial portions of the Software.</p>

        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
           IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
           FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
           AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
           LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
           OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
           THE SOFTWARE.</p>
      </div>
    </div>
  </div>
</div>
