<div class="panel panel-default tracker-panel">
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-md-12">
          <h3>Generation (2-6)</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-class="{active: settings.generation === 2}">
              <input type="radio" name="generation" class="hide" ng-value="2" ng-model="settings.generation" /> 2
            </label>
            <label class="btn btn-default" ng-class="{active: settings.generation === 3}">
              <input type="radio" name="generation" class="hide" ng-value="3" ng-model="settings.generation" /> 3
            </label>
            <label class="btn btn-default" ng-class="{active: settings.generation === 4}">
              <input type="radio" name="generation" class="hide" ng-value="4" ng-model="settings.generation" /> 4
            </label>
            <label class="btn btn-default" ng-class="{active: settings.generation === 5}">
              <input type="radio" name="generation" class="hide" ng-value="5" ng-model="settings.generation" /> 5
            </label>
            <label class="btn btn-default" ng-class="{active: settings.generation === 6}">
              <input type="radio" name="generation" class="hide" ng-value="6" ng-model="settings.generation" /> 6
            </label>
            <label class="btn btn-default" ng-class="{active: settings.generation === 7}">
              <input type="radio" name="generation" class="hide" ng-value="7" ng-model="settings.generation" /> 7
            </label>
          </div>
        </div>
      </div>

      <div ng-if="settings.generation >= 5">
        <div class="row">
          <div class="col-md-12">
            <h3>Do you have the Shiny Charm?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group">
              <label class="btn btn-default" ng-class="{active: settings.shiny_charm === true}">
                <input type="radio" name="shiny_charm" class="hide" ng-value="true" ng-model="settings.shiny_charm" /> Yes
              </label>
              <label class="btn btn-default" ng-class="{active: settings.shiny_charm === false}">
                <input type="radio" name="shiny_charm" class="hide" ng-value="false" ng-model="settings.shiny_charm" /> No
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Hunting Method</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <select name="encounter_method" ng-model="settings.encounter_method" class="form-control">
            <option ng-repeat="method in encounterMethods" value="{{method.value}}">{{method.text}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Target</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="text" ng-model="settings.target" uib-typeahead="o as o for o in pokemon | filter:$viewValue | limitTo:8" class="form-control" typeahead-editable="false">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Start Date</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div ng-if="isMobile">
            <div class="input-group">
              <input type="datetime-local" class="form-control" data-ng-model="settings.start_date">
            </div>
          </div>

          <div class="dropdown" ng-if="!isMobile">
            <a class="dropdown-toggle" id="start_date_dropdown" role="button" data-toggle="dropdown" data-target="#" href="">
              <div class="input-group">
                <input type="text" class="form-control" data-ng-model="settings.start_date">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="settings.start_date"
                              data-datetimepicker-config="{ dropdownSelector: '#start_date_dropdown' }">
              </datetimepicker>
            </ul>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Show stats on the tracker?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <label class="btn btn-default" ng-class="{active: settings.show_stats === true}">
              <input type="radio" name="show_stats" class="hide" ng-value="true" ng-model="settings.show_stats" /> Yes
            </label>
            <label class="btn btn-default" ng-class="{active: settings.show_stats === false}">
              <input type="radio" name="show_stats" class="hide" ng-value="false" ng-model="settings.show_stats" /> No
            </label>
        </div>
      </div>
      <div class="row reset-block">
        <div class="col-md-12 text-center">
          <a class="btn btn-danger" href="#" role="button" ng-click="resetSettings()">
            <span class="glyphicon glyphicon-retweet"></span>
            Reset
          </a>
        </div>
      </div>

    </form>
  </div>
</div>
